@charset "UTF-8";
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");


/* section */
html,
body {
    overflow-x: inherit;
} 

section {
    width: 100%;
    height: 75%;
}

section .inner {
    margin: 0 auto;
    width: 70%;
    height: 60%;
}





/* 서브메뉴 */

section .inner .sub-title {
    width: 100%;
    margin-top: 150px;
}

section .inner .sub-title p {
    font-size: 24px;
    font-weight: 600;
}

.main {
  margin-top: 19vh;
}
.main .set_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.main .set {
  word-break: keep-all;
  width: 30%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 15px 15px;
}
.main .set_box .img{
  background: url(../../img/vrar_background.jpg) center no-repeat;
  background-size: 100%;
  width: 100%;
  height: 190px;
}
.main .set_box._1 .img._2 {
  background: url(../../img/2498113_2496504_208.jpg) center no-repeat;
  background-size: 100%;
}
.main .set_box._1 .img._3 {
  background: url(../../img/1366167_1172274_218.jpg) center no-repeat;
  background-size: 100%;
}
.main .set_box._2 .img._1 {
  background: url(../../img/image_readtop_2022_762581_16619107465150704.jpg) center no-repeat;
  background-size: 100%;
}
.main .set_box._2 .img._2 {
  background: url(../../img/1772359_689583_3617.jpg) center no-repeat;
  background-size: 100%;
}
.main .set_box._2 .img._3 {
  background: url(../../img/756243131_EB8BA8ECB2B4EC82ACECA784.jpg) center no-repeat;
  background-size: 100%;
}