@charset "UTF-8";
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");


/* section */

section {
    width: 100%;
    height: 500%;
    background: linear-gradient(#141414, #9198e5);
}

section .inner {
    margin: 0 auto;
    width: 70%;
    height: 60%;
}

section .inner #logo-wrap{
    width: 80%;
    margin: 0 auto;
    margin-top: 27vh;
    text-align: center;
}
section .inner #logo-wrap img{
    width: 20%;
    max-width: 215px;
    display: block;
    margin: 0 auto;
}
section .inner #logo-wrap p{
    font-size: 20px;
    white-space: nowrap;
}
section .inner .sub-title{
    width: 100%;
    margin-top: 140px;
}
section .inner .sub-title p{
    font-size: 24px;
    font-weight: 600;
}
section .inner .sub-title p span{
    color: #ed1212;
}

section .inner #vision-wrap{
    width: 100%;
    height: 150px;
    display: flex;
    
}
section .inner #vision-wrap .vision{
}