@charset "UTF-8";
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: 'montserrat';
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

body {
  background: #141414;
}



/* header */

header{
  width: 100vw;
  height: 90px;
  background-color: #141414;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

header .inner {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 150px;
}

header .logo span {
  color: #aaa;
  font-size: 10px;
}

header .right {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .right .button {
  width: 130px;
  height: 34px;
  padding: 0 20px;
  border: 1px solid #fff;
  border-radius: 30px;
  font-size: 15px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .right .language a {
  margin-left: 10px;
}

header .right .language a.on {
  color: #ed1212;
  font-weight: 600;
}



/* section */

section{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .inner{
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .inner .index-btn{
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
}

section .inner .index-btn i{
  font-size: 40px;
  color: #fff;
  display: block;
}

section .inner article{
  width: 87.5%;
  height: 100%;
  position: relative;
}

section .inner article #index-text{
  width: 45%;
  height: 100%;
  position: absolute;
  top: 29%;
  left: 0;
  white-space: nowrap;
  z-index: 1;
}

section .inner article #index-text h1{
  font-size: 45px;
  line-height: 0px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
}

section .inner article #index-text p{
  font-size: 16px;
  line-height: 10px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

section .inner article #index-video{
  width: 88%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin-left: 0;
}

section .inner article #index-video video{
  width: 100%;
  float: left;
}



/* aside */

aside{
  width: 600px;
  height: 50px;
  z-index: 10;
  transform: rotate(90deg);
  position: fixed;
  top: 45%;
  right: -230px;
}

aside ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

aside ul li{
  float: left;
}

aside ul li a{
  font-weight: 600;
}


/* footer */

footer {
  width: 100%;
  height: 90px;
  background-color: #141414;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 13px;
  color: #aaa;
  z-index: 9;
}

footer .inner{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .left .top,
footer .left .bottom {
  height: 30px;
  display: flex;
  align-items: center;
}

footer p {
  margin-left: 40px;
  white-space: nowrap;
}
footer p:first-child {
  margin-left: 0;
}

footer a {
  margin-left: 40px;
  color: #aaa;
  white-space: nowrap;
}
footer a:first-child {
  margin-left: 0;
}