@charset "UTF-8";
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: montserrat;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

body {
  background: #141414;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

/* header */
header .inner {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

header a {
  color: #fff;
}

header .logo span {
  color: #aaa;
  font-size: 10px;
}

header .logo img {
  width: 150px;
}

header .right {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}

header .right .button {
  display: flex;
  border: 1px solid #fff;
  border-radius: 30px;
  width: 80px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header .right .language a {
  margin-left: 10px;
}

header .right .language a.on {
  color: #ed1212;
  font-weight: 600;
}

/* body */
.bg-text-container {
  top: 25%;
  position: absolute;
  z-index: -999;
  transform: skewY(-5deg);
}
@keyframes text-scrolling {
  0% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(50%);
  }
}
.animate-text {
  animation: text-scrolling 20s linear infinite;
  will-change: transform;
  display: block;
  position: relative;
  white-space: nowrap;
}
.animate-text.left {
  animation-direction: reverse;
}
.animate-text span {
  font-size: 200px;
  color: transparent;
  -webkit-text-stroke: 2px #ed1212;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  min-width: auto;
  font-weight: 800;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.container h1 {
  font-size: 90px;
  margin: 0;
}
.container p {
  font-size: 18px;
  font-weight: 200;
  margin: 0;
}

.gnb ul {
  display: flex;
  position: absolute;
  right: -250px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(90deg);
}
.gnb a {
  color: #fff;
  margin: 0 20px;
  font-weight: 600;
}
/*팝업창*/
#popup {
  display: none; /*숨기기*/
  position: fixed;
  width: 100%;
  height: 100%;
}

#popmenu {
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  font-weight: 500;
  color: #000;
  background: #fff;
}
#popmenu img {
  display: flex;
}
#popmenu span {
  display: block;
  font-size: 20px;
}

.exit {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #ed1212;
  color: #fff;
  cursor: pointer;
}

/*팝업창 본문내용*/
#contents {
  cursor: pointer;
}
/* footer */
footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  color: #aaa;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 13px;
}
footer a {
  color: #aaa;
}
footer .left {
  border-right: 1px solid #aaa;
  padding-right: 20px;
}
footer .left .top,
footer .left .bottom {
  display: flex;
  align-items: center;
  height: 25px;
}
footer .left .top a {
  margin-left: 20px;
  color: #fff;
}
footer .left .bottom a {
  margin-left: 20px;
}
footer .right a {
  margin-left: 20px;
}
