@charset "UTF-8";

.title {
  margin: 0;
  align-items: flex-start;
}
.title h1 {
  height: 40px;
}
.title .tap {
  display: block;
}
.title .tap a.on::after {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main .left h3:nth-child(4) {
  margin-bottom: 30px;
}
.main {
  margin: 0;
  font-size: 0.5rem;
  width: 80%;
}
.main img {
  display: none;
}
.main p,
span {
  font-size: 13px;
}
