@charset "UTF-8";

html,
body {
  overflow-x: hidden;
}

.main {
  display: block;
  margin-top: 0;
}
.main .left {
  width: auto;
}
.main .top,
.main .bottom {
  height: auto;
  padding: 20px;
}
.main .title {
  font-size: 20px;
  line-height: 1;
}
.main .tel_set {
  line-height: 0.5;
}

.main .right {
  width: auto;
}
.main .right iframe {
  height: auto;
  margin-top: 20px;
}
