@charset "UTF-8";

html,
body {
  overflow-x: unset;
  overflow-y: unset;
}

.main {
  display: block;
  margin-top: 0;
}
.main .left {
  width: auto;
}
.main .top,
.main .bottom {
  height: auto;
  padding: 20px;
}
.main .title {
  font-size: 20px;
  line-height: 1;
}
.main .tel_set {
  line-height: 0.5;
}

.main .right {
  width: auto;
  height: 260px;
}
.main .right iframe {
  height: auto;
  margin-top: 20px;
}

.tel_left p{
  margin: 0;
  margin-top: 12px;
}
.tel_right p{
  margin: 0;
  margin-top: 12px;
}
.main .top{
  height: 165px;
}
.main .bottom{
  height: 145px;
}
footer .left{
  padding: 0 20px;
}
footer{
  transform: translateY(150px);
}