@charset "UTF-8";
html, body{
  overflow-y: unset;
}
.swiper {
  width: 100%;
  height: 100%;
}
footer{
  bottom: 0;
}

.main {
  font-size: 0.7rem;
  margin-top: 0;
}
.main img {
  display: none;
}

.main .cr .set {
  width: 180px;
  height: 180px;
  line-height: 1;
  text-align: center;
}
.main .cr .set h3 {
  height: 20px;
  font-size: 25px;
}

.main .cr .set._2,
.main .cr .set._4 {
  left: 50%;
}
.main .cr .set._3 {
  left: 0;
}
.main .cr .set._3,
.main .cr .set._4 {
  margin-top: 200px;
}

.main .cr .set span {
  display: block;
  line-height: 1.2;
}
.inner{
  margin-left: 8vw;
}

.main .cr{
  width: 90%;
  margin: 0;
}
footer .left{
  padding: 0 20px;
}
footer{
  transform: translateY(150px);
}