@charset "UTF-8";

.main .left h3:nth-child(4) {
  margin-bottom: 30px;
}
.main {
  margin: 0;
  font-size: 0.5rem;
  width: 80%;
}
.main img {
  display: none;
}
.main p,
span {
  font-size: 13px;
}
