@charset "UTF-8";

.inner {
  width: 320px;
}

header .logo img {
  width: 100px;
}
header .logo span {
  display: block;
}
.language a {
  display: none;
}
.language a.on {
  display: block;
}
header .right {
  width: 60%;
}
header .right .button {
  width: 65px;
  padding: 0 10px;
  text-align: center;
}
header .right i {
  display: none;
}
.gnb ul {
  right: -250px;
  top: 40%;
}
.gnb a {
  margin: 0 15px;
}
.title {
  margin: 0;
  align-items: flex-start;
}
.title h1 {
  height: 40px;
}
.title .tap {
  display: block;
}
.tap a {
  font-size: 12px;
}
.title .tap a.on::after {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
