@charset "UTF-8";
html,
body {
  overflow-x: scroll;
}
.container p {
  width: 80%;
}
.container {
  width: 320px;
}
.container h1 {
  font-size: 30px;
}
.container .col span {
  display: block;
}
footer .left{
  padding: 0 20px;
}
footer{
  transform: translateY(150px);
}