@charset "UTF-8";
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

/* section */

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .inner {
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
}

section .inner #text{
    width: 100%;
    height: 85%;
    text-align: center;
}

section .inner #text #title{
    width: 55%;
    height: 110px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
}

section .inner #text #title h3{
    font-size: 28px;
    line-height: 55px;
    text-align: center;
}

section .inner #text #title h3 b{
    color: #ed1212;
}

section .inner #text #title img{
    opacity: 0.3;
    position: absolute;
    top: -10px;
}

section .inner #text #title img:first-child{
    left: 0;
}

section .inner #text #title img:last-child{
    right: 0;
}

section .inner #text span{
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    display: block;
    margin-top: 10px;
    opacity: .6;
}

section .inner #text p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 60px;
}